<!-- Pokemon Grid -->
<div class="pokemon-grid">
  <div *ngIf="showTable">
    <div class="box" *ngFor="let pokemon of pokemons">
      <img
      src="https://pokeres.bastionbot.org/images/pokemon/{{pokemon.id}}.png"
      alt="Pokemon"
      (click)="showPokemon(pokemon.id)"
    />
      <h3>{{pokemon.name}}</h3>
    </div>
  </div>
  <div *ngIf="!showTable">
    <p>{{id}}</p>
    <img class="pokeimage"
      src="https://pokeres.bastionbot.org/images/pokemon/{{id}}.png"
      alt="Pokemon">
    <button class="back" (click)="showTable=true">Volver</button>
  </div>
</div>
<!-- End Pokemon Grid -->